h1 {
    text-shadow: 2px 2px 1px #ccc;
    font-family: "Brush Script MT", Times, serif;
    text-align: left;
    font-size: 128px;
    transform: translate(5%, 25%);
    margin: auto;
    color: #333;
    font-weight: 400
}
.bombSpot {
    position: absolute;
    top: 25%;
    transform: translate(-50%, -50%);
    left: 75%;
    width: 100%;
    text-align: center;
  }
.bomb {
    width: 200px;
    text-align: center;
    margin: 5px;
}

.catSpot {
  position: absolute;
}

.cat {
  width: 500px;
}